[submodule "nexusutils/definitions"]
	path = nexusutils/definitions
	url = https://github.com/FAIRmat-Experimental/nexus_definitions.git
[submodule "nexusutils/nexus_definitions"]
	path = nexusutils/definitions
	url = https://github.com/FAIRmat-Experimental/nexus_definitions.git
