recursive-include nexusutils/definitions/base_classes/ *.xml
recursive-include nexusutils/definitions/applications/ *.xml
recursive-include nexusutils/definitions/contributed_definitions/ *.xml
include nexusutils/definitions/ *.xsd
