recursive-include pynxtools/definitions/base_classes/ *.xml
recursive-include pynxtools/definitions/applications/ *.xml
recursive-include pynxtools/definitions/contributed_definitions/ *.xml
include pynxtools/definitions/*.xsd
include pynxtools/nexus-version.txt
include pynxtools/definitions/NXDL_VERSION