name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  python-version: 3.12

jobs:
  setup:
    name: Checkout and Install
    runs-on: ubuntu-latest
    outputs:
      git_tag_version: ${{ steps.git_tag_version.outputs.version }}
      citation_version: ${{ steps.citation_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Install uv and set the python version to ${{ env.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.python-version }}
      - name: Git tag version
        id: git_tag_version
        run: |
          GIT_TAG_VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$GIT_TAG_VERSION" >> "$GITHUB_OUTPUT"
      - name: Citation version
        id: citation_version
        run: |
          CITATION_VERSION=$(grep '^version:' CITATION.cff | cut -d' ' -f2)
          echo "version=$CITATION_VERSION" >> "$GITHUB_OUTPUT"

  test:
    name: Run Tests
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Install uv and set the python version to ${{ env.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.python-version }}
      - name: Install pynx and latest compatible nomad release
        run: |
          uv pip install -e ".[dev, nomad]"
      - name: Test with pytest
        run: pytest tests/

  compare-versions:
    name: Compare Versions
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Fail if versions mismatch
        run: |
          if [ "${{ needs.setup.outputs.git_tag_version }}" != "${{ needs.setup.outputs.citation_version }}" ]; then
            echo "Version mismatch: Git tag is ${{ needs.setup.outputs.git_tag_version }}, CITATION.cff is ${{ needs.setup.outputs.citation_version }}"
            exit 1
          fi

  build:
    name: Build Package
    needs: [compare-versions, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Install uv and set the python version to ${{ env.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.python-version }}
      - name: Build package
        run: |
          git reset --hard HEAD
          rm -f src/pynxtools/nomad/nxs_metainfo_package_*.json
          uv run --extra nomad scripts/generate_package.py
          uv build
      - name: Upload dist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts
          path: dist/

  test-install:
    name: Install built package
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install uv and set the python version to ${{ env.python-version }}
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ env.python-version }}
      - name: Download dist artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-artifacts
          path: dist/
      - name: Install sdist
        run: |
          uv pip install dist/*.tar.gz
      - name: Check that Metainfo package JSON file exists and matches definitions version
        run: |
          SITE_PACKAGES=$(python -c "import site; print(site.getsitepackages()[0])")

          # expected filename from definitions module
          EXPECTED=$(python -c "from pynxtools import get_nexus_version; print(f'nxs_metainfo_package_{get_nexus_version()}.json')")

          # find the JSON file
          FOUND_FILE=$(find "$SITE_PACKAGES/pynxtools/nomad" -name 'nxs_metainfo_package_*.json' -print -quit)

          if [ -z "$FOUND_FILE" ]; then
              echo "ERROR: nxs_metainfo_package_*.json not found in installed package."
              exit 1
          fi

          FOUND_BASENAME=$(basename "$FOUND_FILE")

          echo "Found NeXus schema package JSON file: $FOUND_BASENAME"
          echo "Expected filename: $EXPECTED"

          if [ "$FOUND_BASENAME" = "$EXPECTED" ]; then
              echo "Installed NeXus schema package JSON file matches expected definition version."
          else
              echo "ERROR: Expected '$EXPECTED', but found '$FOUND_BASENAME'."
              exit 1
          fi
  deploy:
    name: Upload to PyPI
    needs: [build, test-install]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pynxtools
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Download dist artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-artifacts
          path: dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1