name: linting

on: [push]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --jobs=4
          python -m pip install --upgrade pip
      - name: Install package
        run: |
          python -m pip install --no-deps .
      - name: Install dev requirements
        run: |
          python -m pip install -r dev-requirements.txt
      - name: pycodestyle
        run: |
          python -m pycodestyle --ignore=E501,E701,E731,W503 pynxtools tests --exclude=pynxtools/definitions
      - name: pylint
        run: |
          python -m pylint pynxtools tests --ignore definitions
      - name: mypy
        run: |
          python -m mypy --ignore-missing-imports --follow-imports=silent --no-strict-optional --exclude=pynxtools/definitions pynxtools tests
